<section class="produtos">
    <div class="produto">
        <img src="#" alt="">
        <h3>Produto: {{this.title}}</h3>
        <p>Descrição {{this.description}}</p>
        <h4>R$ {{this.value}}</h4>
        <a href="/prod/{{this.id}}">Detalhe</a>
    </div>
</section>